$color-primary: #003F62;
$bg-primary: #003F62;
$bg-secondary: #EDA415;
$bg-light: #E2F4FF;

.bg-primary{
    background-color: $color-primary;
}

.bg-light{
    background-color: $bg-light;
}

.users-table{
    // table-layout: fixed;
    border-collapse: collapse;

    td, th {
        border: 1px solid $color-primary;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: $bg-light;
      }
}

// .users-table-cell{
//     border: 1px solid $color-primary;
//     text-align: left;
//     padding: 12px;
//     background-color: $bg-light;
// }
